#Login{
    margin-left: 50px;
    font-weight: bold;
    font-size: 34px;
}


.box{
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    border: 2px solid;
    text-align: left;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 4px #000000;
}

.input{
    background-color: antiquewhite;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
    width: 200px;
    height: 40px;
}

#input_1{
    margin-left: 50px;
    margin-bottom: 10px;
}

#input_2{
    margin-left: 50px;
    margin-top: 10px;
}

button{
    background-color: black;
    border: 2px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-left: 50px;
    margin-top: 15px;
    color: white;
}